<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>LocalDeals</title>
    <link href="static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  </head>

<body>


  <h1>Get the best prices near you!</h1>

	<form action="/" method="POST">
		<div class="productcat">
			Product Name: <input type="text" name="prod" placeholder="Product"></input>

			<label for="cat">Choose a category:</label>

			<select name="cat" id="cat">
				<option value="">--Select an option--</option>
				<option value="art_gallery">art_gallery</option>
				<option value="bakery">bakery</option>
				<option value="bar">bar</option>
				<option value="beauty_salon">beauty_salon</option>
				<option value="bicycle_store">bicycle_store</option>
				<option value="book_store">book_store</option>
				<option value="bowling_alley">bowling_alley</option>
				<option value="cafe">cafe</option>
				<option value="car_rental">car_rental</option>
				<option value="car_repair">car_repair</option>
				<option value="car_wash">car_wash</option>
				<option value="clothing_store">clothing_store</option>
				<option value="convenience_store">convenience_store</option>
				<option value="department_store">department_store</option>
				<option value="drugstore">drugstore</option>
				<option value="electronics_store">electronics_store</option>
				<option value="florist">florist</option>
				<option value="furniture_store">furniture_store</option>
				<option value="gas_station">gas_station</option>
				<option value="grocery_or_supermarket">grocery_or_supermarket</option>
				<option value="gym">gym</option>
				<option value="hair_care">hair_care</option>
				<option value="hardware_store">hardware_store</option>
				<option value="home_goods_store">home_goods_store</option>
				<option value="jewelry_store">jewelry_store</option>
				<option value="laundry">laundry</option>
				<option value="liquor_store">liquor_store</option>
				<option value="locksmith">locksmith</option>
				<option value="lodging">lodging</option>
				<option value="meal_delivery">meal_delivery</option>
				<option value="meal_takeaway">meal_takeaway</option>
				<option value="movie_theater">movie_theater</option>
				<option value="night_club">night_club</option>
				<option value="pet_store">pet_store</option>
				<option value="pharmacy">pharmacy</option>
				<option value="restaurant">restaurant</option>
				<option value="rv_park">rv_park</option>
				<option value="shoe_store">shoe_store</option>
				<option value="shopping_mall">shopping_mall</option>
				<option value="spa">spa</option>
				<option value="store">store</option>
				<option value="supermarket">supermarket</option>
				<option value="veterinary_care">veterinary_care</option>
				<option value="zoo">zoo</option>

			</select>
		</div>

		<br>
		<p>Radius:</p>
		<div class="slidecontainer">
			<input type="range" name="rad" min="1" max="100" value="50" class="slider" id="myRange">
		</div>

		<br>
		<div class="open">
			<input type="checkbox" name="open" id="opennow" name="opennow" value="opennow">
			<label for="opennow"> Include stores not currently open</label><br>
		</div>
		<br>
		<div>

      <p>* This may take a few minutes.</p>
    <button onclick="getLocation()" type="Submit">Search</button>

			
		</div>
	</form>


  <p>* This may take a few minutes.</p>
  <button onclick="getLocation()">Search</button>


  <p id="place"></p>
  <p id="place2"></p>


  <script>
    // var x = document.getElementById("place");
    // var y = document.getElementById("place2");
    let pos;

    function showPosition(position) {
      // async action 
      const lat = position.coords.latitude;
      const lng = position.coords.longitude;

      // x.innerHTML = "Latitude: " + lat +
      //   "<br>Longitude: " + lng;

      pos = [lat, lng];
      console.log(pos);

      entry = {
        lat: lat,
        lng: lng,
      }

      fetch(`${window.origin}/`, {
          method: "POST",
          credentials: "include", // any cookies on page
          body: JSON.stringify(entry),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json"
          })
        }) //takes url or place to take data from, and init constructor
        .then(function (response) {
          if (response.status !== 200) {
            console.log(`Looks like there was a problem. Status code: ${response.status}`);
            return;
          }
          response.json().then(function (data) {
            console.log(data);
          });
        })
        .catch(function (error) {
          console.log("Fetch error: " + error);
        });
    }

    function getLocation() {

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
  </script>

</body>

</html>